{% extends 'base.html' %}

{% block title %}
    All books
{% endblock title %}

{% block content %}

<ul>
    {% for book in all_books %}
    <li>
        {% comment %} альтернатива 
            <a href="{% url 'book-detail-page' id=book.id %}">  {% endcomment %}
            <a href="{{ book.get_absolute_url }}">
            {{ book.title }}
        </a>
        (rating: {{ book.rating }})</li>
    {% endfor %}
</ul>

<hr>

<p>
    Total books: {{ total_books }}
</p>

<p>
    Average rating of books: {{ average_rating.rating__avg }} with minimum rating {{ average_rating.rating__min }}
</p>


{% endblock content %}

